{{ define "main" }}
{{ partial "banner" site.Data.banner }}
{{ partial "gallery" site.Data.gallery }}
{{ partial "spotlight" site.Data.spotlight6 }}
{{ partial "spotlight" site.Data.spotlight1 }}
{{ partial "spotlight" site.Data.spotlight2}}
{{ partial "spotlight" site.Data.spotlight3 }}
{{ partial "spotlight" site.Data.spotlight4 }}
{{ partial "spotlight" site.Data.spotlight5 }}

<!-- {{ partial "modifiers" site.Data.wrapper }} -->
<!-- {{ partial "gallery" site.Data.gallery }} -->
<!-- {{ partial "items" site.Data.items }} -->
<!-- {{ partial "elements" . }} -->
<!-- {{ partial "elements_reference" . }} -->
{{ partial "footer" . }} {{ end }}
